requests==2.32.3
git+https://gitee.com/ikaros-521/blivedm
aiohttp==3.9.1
schedule
pygame
edge-tts==6.1.6
bilibili-api-python
zhipuai
nicegui==1.4.30
colorlog
loguru
langid
profanity==1.1
pyahocorasick
pypinyin
send2trash
pydantic==1.10.13
PyJWT
packaging
pydub
httpx==0.25.2
Pillow==10.1.0
curl_cffi
